* {
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.full-body {
    height: 4500px;
    background-color: gray;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: white;
    height: 3%;
    display: flex;
}

.header-items {
    /* remove this*/
    background-color: rgb(168, 24, 24);
    width: 100%;
    margin: 1px;
    display: flex;
}

.header-logo {
    /* remove this*/
    background-color: black;
    width: 18%;
    margin: 1px;
}


.header-info-part {
    /* remove this*/
    background-color: black;
    width: 82%;
    margin: 1px;
}

.info-part-container {
    background-color: wheat;
    height: 100%;
    margin: .5px;
    display: flex;
    flex-direction: column;
}

.upper-header {
    background-color: aqua;
    height: 40%;
    margin: 1px;
    display: flex;
    flex-direction: row-reverse;
}

.upper-header-container {
    background-color: black;
    width: 50%;
    margin-right: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.directory-button,
.email-button,
.login-register-button,
.search-in-page-button {
    height: 55%;
    width: 23%;
    margin: 2px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-with-svg {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: brown;
    height: 90%;
    margin: 2px;
    gap: 5px;
    text-decoration: none;
}

.search-with-svg:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.search-text {
    margin-left: 28px;
}

.search-svg {
    display: flex;
}



.upper-header-container p {
    display: inline-block;
    font-family: "Roboto";
    font-size: 20px;
}

.lower-header {
    background-color: aqua;
    height: 60%;
    margin: 1px;
}

.main-content {
    background-color: rgb(255, 0, 200);
    height: 90%;
    margin: 5px;
}

.Slideshow-Section {
    display: flex;
    background-color: aquamarine;
    height: 13%;
}

.Images-Slideshow {
    background-color: white;
    width: 100%;
    margin: 2px;
}

.Welcome-Register-Section {
    display: flex;
    background-color: aquamarine;
    height: 12%;
}

.shoolini-socials-intro {
    background-color: rgb(255, 255, 255);
    width: 40%;
    margin: 2px;
}

.Directors-Message {
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: 2px;
}

.Events-Notice-Section {
    display: flex;
    flex-direction: row-reverse;
    background-color: aquamarine;
    height: 14%;
}

.notice-board {
    background-color: white;
    width: 40%;
    margin: 2px;
}

.events-detail-cards-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    margin: 2px;
}

.events-highlights-row1 {
    background-color: wheat;
    height: 65%;
    margin: 2px;
}

.find-event-row2 {
    display: flex;
    background-color: wheat;
    height: 35%;
    margin: 2px;
}

.find-event-column1 {
    background-color: blueviolet;
    width: 60%;
    margin: 4px;
}

.find-event-description-column2 {
    background-color: blueviolet;
    width: 40%;
    margin: 4px;
}

.Stats-Horizontal-Section {
    display: flex;
    background-color: aquamarine;
    height: 20%;
}

.alumni-stats {
    background-color: rgb(255, 255, 255);
    width: 40%;
    margin: 2px;
}

.chapters-batch-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: 2px;
}

.chapters-row1 {
    display: flex;
    background-color: black;
    height: 70%;

}

.be-a-mentors {
    width: 50%;
    background-color: wheat;
    margin: 2px;
}

.chapters-row1-col2 {
    width: 50%;
    background-color: wheat;
    margin: 2px;
}

.description-chapter-batch-box-row2-col1 {
    height: 100%;
    background-color: wheat;
    margin: 2px;
}

.Achievers-Section {
    display: flex;
    background-color: aquamarine;
    height: 20%;
}

.achievers-detail-cards {
    background-color: white;
    width: 100%;
    margin: 2px;
}

.Mentorship-Testimonials-Section {
    display: flex;
    background-color: aquamarine;
    height: 10%;
}

.Testimonials {
    background-color: white;
    width: 60%;
    margin: 2px;

}

.stories {
    background-color: white;
    width: 40%;
    margin: 2px;
}

.Gallary-Section {
    display: flex;
    background-color: aquamarine;
    height: 11%;
}

.gallary {
    width: 100%;
    background-color: white;
    margin: 2px;

}

.footer {
    background-color: white;
    height: 7%;
}